{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}
{% block content %}

<div class="container-fluid" id="parent-container">
    <div class="row lg-padding">
        <div class="col ">

            <div class="container-fluid" id="introduction-container">
                <div class="row heading-row">
                    <div class="col ">
                        <h1 class="bold">Your Events</h1>
                    </div>
                </div>
                {% if events.fetch_events %}
                {% for event in events.fetch_events %}
                <div class="row heading-row">
                    <div class="col ">
                        {{ event.event_name }} - {{ event.date_time }}<br>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="row heading-row">
                    <div class="col ">
                        {{ events }}<br>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row lg-padding">
        <div class="col ">

            <div class="container-fluid">
                <div class="row"">
                    <div class=" col">

                    <form action="" method="POST" id="payment-form">
                        {% csrf_token %}

                        <div class="container-fluid card" id="delivery-information-container">
                            <div class="col-12 col-lg-6">
                                <!--Render Order Form-->

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}